#container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#game-board {
}

#game-command-panel {
    padding: 10px 100px 10px 10px;
    width: 500px;
}

#game-table {
    background-color: #03C03C;
}

.circle {
    width: 80px;
    margin: 5px;
    height: 80px;
    border-radius: 50%;
}

#arrow {
    font-size: 50px;
    color: black;
}

th {
    height: 55px;
    text-align: center !important;
}

.nav-link{
    cursor: default;
}